In [1]:
import sqlite3
from datetime import datetime

print(sqlite3.sqlite_version)
print(datetime.now())

3.45.1
2024-05-20 09:44:26.771525

In [2]:
now = datetime.now()
now.strftime("%Y-%m-%d, %H:%M:%S")

'2024-05-20, 09:46:15'

In [3]:
# database 생성
# isolation_level : autocommit 여부
conn = sqlite3.connect("./database/test.db", isolation_level=None)

In [4]:
# 커서(cursor)

cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS users(id integer primary key, username text, email text, phone text, website text, regdate text)")

In [5]:
# 데이터 삽입
now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")
cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(1, 'Kim', 'Kim@naver.com', '010-1234-5678', 'kim.com', ?)", (now_date_time,))

In [7]:
now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")
cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)", (2, 'Park', 'Park@naver.com', '010-1234-5678', 'Park.com', now_date_time))

In [8]:
# 여러개 데이터 삽입
userList = (
    (3, 'Lee', 'Lee@naver.com', '010-1234-5678', 'Lee.com', now_date_time),
    (4, 'Choi', 'Choi@naver.com', '010-1234-5678', 'Choi.com', now_date_time),
    (5, 'Yoo', 'Yoo@naver.com', '010-1234-5678', 'Yoo.com', now_date_time)
)
cursor.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)", userList)

In [9]:
# 조회
cursor.execute("SELECT * FROM users")

In [10]:
cursor.fetchone()

(1, 'Kim', 'Kim@naver.com', '010-1234-5678', 'kim.com', '2024-05-20, 10:00:25')

In [12]:
cursor.fetchmany(size=3)

[(3,
  'Lee',
  'Lee@naver.com',
  '010-1234-5678',
  'Lee.com',
  '2024-05-20, 10:02:35'),
 (4,
  'Choi',
  'Choi@naver.com',
  '010-1234-5678',
  'Choi.com',
  '2024-05-20, 10:02:35'),
 (5,
  'Yoo',
  'Yoo@naver.com',
  '010-1234-5678',
  'Yoo.com',
  '2024-05-20, 10:02:35')]

In [13]:
# 남아있는 것(위에 조회한거 외에 나머지)
cursor.fetchall()

[]

In [14]:
cursor.execute("SELECT * FROM users")
for c in cursor.fetchall():
    print(c)

(1, 'Kim', 'Kim@naver.com', '010-1234-5678', 'kim.com', '2024-05-20, 10:00:25')
(2, 'Park', 'Park@naver.com', '010-1234-5678', 'Park.com', '2024-05-20, 10:02:35')
(3, 'Lee', 'Lee@naver.com', '010-1234-5678', 'Lee.com', '2024-05-20, 10:02:35')
(4, 'Choi', 'Choi@naver.com', '010-1234-5678', 'Choi.com', '2024-05-20, 10:02:35')
(5, 'Yoo', 'Yoo@naver.com', '010-1234-5678', 'Yoo.com', '2024-05-20, 10:02:35')

In [15]:
# 정렬(ORDER BY)
cursor.execute("SELECT * FROM users ORDER BY id DESC")
for c in cursor.fetchall():
    print(c)

(5, 'Yoo', 'Yoo@naver.com', '010-1234-5678', 'Yoo.com', '2024-05-20, 10:02:35')
(4, 'Choi', 'Choi@naver.com', '010-1234-5678', 'Choi.com', '2024-05-20, 10:02:35')
(3, 'Lee', 'Lee@naver.com', '010-1234-5678', 'Lee.com', '2024-05-20, 10:02:35')
(2, 'Park', 'Park@naver.com', '010-1234-5678', 'Park.com', '2024-05-20, 10:02:35')
(1, 'Kim', 'Kim@naver.com', '010-1234-5678', 'kim.com', '2024-05-20, 10:00:25')

In [16]:
cursor.execute("SELECT * FROM users WHERE id=3")
cursor.fetchone()

(3, 'Lee', 'Lee@naver.com', '010-1234-5678', 'Lee.com', '2024-05-20, 10:02:35')

In [17]:
param = (4,)
cursor.execute("SELECT * FROM users WHERE id=?",param)
cursor.fetchone()

(4,
 'Choi',
 'Choi@naver.com',
 '010-1234-5678',
 'Choi.com',
 '2024-05-20, 10:02:35')

In [20]:
param = 2
cursor.execute("SELECT * FROM users WHERE id=%d" %param)
cursor.fetchone()

(2,
 'Park',
 'Park@naver.com',
 '010-1234-5678',
 'Park.com',
 '2024-05-20, 10:02:35')

In [22]:
# dictionary 구조로 넘겨주기
cursor.execute("SELECT * FROM users WHERE id=:id", {"id":5})
cursor.fetchone()

(5, 'Yoo', 'Yoo@naver.com', '010-1234-5678', 'Yoo.com', '2024-05-20, 10:02:35')

In [23]:
param = (2,4)
cursor.execute("SELECT * FROM users WHERE id IN (?,?)" ,param)
cursor.fetchall()

[(2,
  'Park',
  'Park@naver.com',
  '010-1234-5678',
  'Park.com',
  '2024-05-20, 10:02:35'),
 (4,
  'Choi',
  'Choi@naver.com',
  '010-1234-5678',
  'Choi.com',
  '2024-05-20, 10:02:35')]

In [24]:
# 수정 : id가 2번인 사용자의 핸드폰 번호 변경
param = ("010-9834-4857",2)
cursor.execute("UPDATE users SET phone = ? WHERE id = ?", param)
conn.commit()

In [25]:
# 삭제
cursor.execute("DELETE FROM users WHERE id = ?",(2,))
conn.commit()

In [26]:
# rowcount : 삭제된 행의 개수를 반환
cursor.execute("DELETE FROM users").rowcount
conn.commit()

In [ ]:
import random
import time