In [1]:
import sqlite3
from datetime import datetime

print(sqlite3.sqlite_version)
print(datetime.now())

3.45.1
2024-05-20 09:44:26.771525

In [2]:
now = datetime.now()
now.strftime("%Y-%m-%d, %H:%M:%S")

'2024-05-20, 09:46:15'

In [3]:
# database 생성
# isolation_level : autocommit 여부
conn = sqlite3.connect("./database/test.db", isolation_level=None)

In [4]:
# 커서(cursor)

cursor = conn.cursor()
cursor.execute("CREATE TABLE IF NOT EXISTS users(id integer primary key, username text, email text, phone text, website text, regdate text)")

In [5]:
# 데이터 삽입
now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")
cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(1, 'Kim', 'Kim@naver.com', '010-1234-5678', 'kim.com', ?)", (now_date_time,))

In [7]:
now = datetime.now()
now_date_time = now.strftime("%Y-%m-%d, %H:%M:%S")
cursor.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)", (2, 'Park', 'Park@naver.com', '010-1234-5678', 'Park.com', now_date_time))