In [2]:
# *.ipynb : jupiter노트북 파일
# jupiter노트북 : python 셀단위로 실행하는 편집기
print("hello")

hello

### 1. 람다함수
* 단일문으로 표현되는 익명함수
* 익명함수 : 이름이 없는 구현체만 존재하는 간단한 함수
* 코드 상에서 한번만 사용되는 기능이 있을 때 함수로 작성하지 않고 1회성으로 만들어서 사용

In [4]:
def square(x):
    return x**2

In [5]:
print(square(5))

25

In [6]:
square2 = lambda x:x**2

In [7]:
square2(8)

64

In [8]:
type(square2)

function

In [9]:
def add(x,y):
    return x + y

In [11]:
add2 = lambda x,y:x+y
add2(5,1)

6

In [12]:
strings = ["bob","charles","alexander3","teddy"]
strings.sort()
strings

['alexander3', 'bob', 'charles', 'teddy']

In [14]:
# sort 기준 : 문자길이기 짧은 순서
def str_len(s):
    return len(s)

strings = ["bob","charles","alexander3","teddy"]
strings.sort(key=str_len)
strings

['bob', 'teddy', 'charles', 'alexander3']

In [15]:
strings = ["bob","charles","alexander3","teddy"]
strings.sort(key=lambda s:len(s))
strings

['bob', 'teddy', 'charles', 'alexander3']

### filter, map, reduce
* lambda가 유용하게 사용되는 3가지 대표 함수
* 함수형 프로그래밍의 기본 요소
* filter : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트 반환
          - filter(함수, 반복가능한 데이터)
* map : 각 원소를 주어진 수식에 따라 변형하여 새로운 리스트로 반환

In [16]:
# 리스트에서 짝수만 추출해서 새로운 리스트로 생성
list1 = [1,2,3,4,5,6,7,8,9]
result = [x for x in list1 if x % 2 == 0]
result

[2, 4, 6, 8]

In [17]:
even_list = []
for i in list1:
    if i % 2 == 0:
        even_list.append(i)

In [18]:
even_list = []
def even(arr):
    for i in arr:
        if i % 2 == 0:
            even_list.append(i)
even(list1)
even_list

[2, 4, 6, 8]

In [19]:
def even(n):
    return n % 2 == 0
even(3)

False

In [22]:
numbs = [1,2,3,4,5,6,7,8,9]
print(list(filter(even,numbs)))

list(filter(lambda n:n%2==0,numbs))

[2, 4, 6, 8]

[2, 4, 6, 8]

In [23]:
def mul(x):
    return x ** 2

numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
list(map(mul,numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [24]:
list(map(lambda x : x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [25]:
list2 = [1,2,3,4]

list(map(lambda x : x*2, list2))

[2, 4, 6, 8]

In [27]:
# nums = [1,2,3,4,5,6,7,8,9,10]
nums = list(range(1,11))
nums

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
# 3의 배수만 문자열로 변경해서
list2 = []
def str_check(arr):
    for x in nums:
        if x % 3 == 0:
            list2.append(str(x))
        else:
            list2.append(x)
    
str_check(nums)
list2

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [41]:
list2 = []
nums = list(range(1,11))
def str_check(x):
    if x % 3 == 0:
        list2.append(str(x))
    else:
        list2.append(x)
        
for i in nums:
    str_check(i)
list2

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]

In [42]:
# 참일때 실행구문 if 조건 else 거짓일때 실행구문
# str(i) if i % 3 == 0 else i
list(map(lambda i : str(i) if i % 3 == 0 else i, nums))

[1, 2, '3', 4, 5, '6', 7, 8, '9', 10]